In [73]:
import pandas as pd

In [74]:
filename = 'Mumbai2005.csv'

In [75]:
pd.read_csv(filename)

          IST  Max TemperatureC  Mean TemperatureC  Min TemperatureC  \
0    2005-1-1                24                 22                21
1    2005-1-2                27                 23                19
2    2005-1-3                28                 23                19
3    2005-1-4                35                 27                19
4    2005-1-5                33                 28                24
5    2005-1-6                32                 27                23
6    2005-1-7                31                 26                22
7    2005-1-8                34                 28                22
8    2005-1-9                31                 27                23
9   2005-1-10                29                 26                22
10  2005-1-11                28                 26                23
11  2005-1-12                31                 26                22
12  2005-1-13                32                 26                21
13  2005-1-14                30                 26                22
14  2005-1-15                31                 26                22
15  2005-1-16                30                 27                23
16  2005-1-17                30                 26                21
17  2005-1-18                28                 24                19
18  2005-1-19                28                 22                16
19  2005-1-20                31                 26                20
20  2005-1-21                32                 26                21
21  2005-1-22                29                 26                22
22  2005-1-23                29                 24                19
23  2005-1-24                28                 23                19
24  2005-1-25                29                 24                21
25  2005-1-26                30                 24                18
26  2005-1-27                28                 23                19
27  2005-1-28                29                 26                23
28  2005-1-29                29                 24                21
29  2005-1-30                28                 24                21
30  2005-1-31                29                 26                23
31   2005-2-1                32                 27                22
32   2005-2-2                32                 28                24
33   2005-2-3                33                 28                23
34   2005-2-4                33                 28                24
35   2005-2-5                32                 28                24
36   2005-2-6                31                 28                25
37   2005-2-7                30                 28                25
38   2005-2-8                32                 28                25
39   2005-2-9                36                 31                26
40  2005-2-10                35                 30                25
41  2005-2-11                32                 28                24
42  2005-2-12                34                 29                24
43  2005-2-13                35                 30                25
44  2005-2-14                35                 30                25
45  2005-2-15                31                 28                25
46  2005-2-16                30                 28                26
47  2005-2-17                29                 27                26
48  2005-2-18                29                 27                24
49  2005-2-19                28                 26                23
50  2005-2-20                27                 23                20
51  2005-2-21                30                 23                17
52  2005-2-22                30                 26                22
53  2005-2-23                31                 23                15
54  2005-2-24                32                 26                20
55  2005-2-25                33                 27                22
56  2005-2-26                39                 31                24
57  2005-2-27                35                 29                24
58  2005-2-28                30                 28                25
59   2005-3-1                31                 27                23
          ...               ...                ...               ...

    Dew PointC  MeanDew PointC  Min DewpointC  Max Humidity   Mean Humidity  \
0           18              14             12            73              59
1           16              13              9            69              55
2           17              14             11            73              56
3           21              16             11            70              55
4           22              19             15            78              62
5           22              19             15            83              63
6           18              14             10            69              53
7           19              17             12            73              57
8           20              18             15            83              61
9           19              14              9            73              54
10          18              16             13            69              57
11          18              16             14            69              54
12          18              15             12            73              53
13          19              16             13            73              55
14          21              17             13            78              63
15          22              17             14            94              65
16          16              12              8            69              48
17          10               6              3            49              35
18          13               7              2            57              42
19          16               8              3            64              37
20          16              13             10            64              47
21          17              13             10            73              52
22          17              13              9            69              53
23          17              13              7            73              57
24          18              14              9            78              59
25          16              14             12            83              61
26          19              15             11            73              57
27          18              15             12            73              54
28          15              12              9            56              44
29          14              13             11            64              50
30          19              16             12            69              58
31          19              16             12            69              54
32          16              12              9            61              42
33          16              13             11            65              44
34          17              13              9            54              40
35          20              15             12            65              48
36          22              20             17            78              65
37          21              18             15            74              60
38          23              19             16            79              60
39          23              21             15            83              60
40          18              15              9            57              44
41          20              16             13            65              50
42          18              16             11            69              50
43          17              12              7            50              33
44          15              12              8            47              34
45          19              17             14            65              53
46          20              17             14            65              55
47          19              14             12            61              47
48          16              12              8            54              43
49          17               8              4            51              35
50           7               3             -2            34              26
51           7               5              1            46              30
52          22              12              5            78              45
53          17              13              6            83              53
54          21              18             15            88              65
55          21              17             12            88              56
56          22              16             10            83              46
57          24              21             14            79              63
58          23              20             17            83              66
59          24              21             14            89              73
           ...             ...            ...           ...             ...

     Min Humidity   Max Sea Level PressurehPa   Mean Sea Level PressurehPa  \
0              47                        1017                         1015
1              32                        1016                         1014
2              37                        1016                         1013
3              39                        1016                         1014
4              40                        1016                         1014
5              40                        1016                         1014
6              27                        1016                         1014
7              30                        1015                         1013
8              38                        1015                         1013
9              29                        1014                         1012
10             45                        1015                         1013
11             38                        1016                         1014
12             31                        1015                         1013
13             40                        1014                         1012
14             33                        1013                         1011
15             45                        1014                         1012
16             25                        1015                         1012
17             20                        1017                         1014
18             20                        1017                         1014
19             22                        1017                         1014
20             27                        1017                         1015
21             30                        1016                         1014
22             30                        1015                         1013
23             32                        1015                         1013
24             36                        1013                         1011
25             33                        1013                         1011
26             39                        1012                         1010
27             37                        1013                         1011
28             29                        1013                         1010
29             37                        1013                         1011
30             40                        1015                         1013
31             29                        1017                         1015
32             27                        1016                         1014
33             29                        1016                         1013
34             27                        1015                         1012
35             33                        1014                         1012
36             43                        1015                         1013
37             40                        1017                         1015
38             43                        1016                         1014
39             28                        1017                         1015
40             20                        1018                         1015
41             35                        1018                         1016
42             26                        1018                         1016
43             19                        1016                         1014
44             23                        1014                         1012
45             37                        1014                         1012
46             37                        1013                         1012
47             35                        1014                         1012
48             30                        1016                         1013
49             25                        1017                         1015
50             15                        1016                         1014
51             20                        1015                         1013
52             23                        1017                         1014
53             22                        1015                         1013
54             40                        1015                         1013
55             29                        1014                         1012
56             18                        1015                         1012
57             28                        1012                         1010
58             48                        1012                         1011
59             38                        1014                         1011
              ...                         ...                          ...

     Min Sea Level PressurehPa   Max VisibilityKm   Mean VisibilityKm  \
0                         1013                  5                   5
1                         1011                  6                   5
2                         1011                  4                   4
3                         1012                  4                   4
4                         1012                  4                   3
5                         1012                  5                   3
6                         1012                  6                   4
7                         1012                  4                   3
8                         1011                  4                   3
9                         1011                  7                   4
10                        1011                  6                   4
11                        1012                  5                   4
12                        1011                  5                   3
13                        1009                  5                   3
14                        1009                  3                   3
15                        1011                  3                   2
16                        1011                  5                   4
17                        1013                  5                   4
18                        1012                  5                   3
19                        1012                  4                   3
20                        1013                  4                   2
21                        1012                  5                   3
22                        1011                  6                   3
23                        1010                  4                   3
24                        1010                  4                   3
25                        1008                  3                   2
26                        1008                  4                   3
27                        1009                  5                   4
28                        1008                  6                   4
29                        1009                  5                   3
30                        1012                  5                   4
31                        1013                  6                   4
32                        1013                  6                   4
33                        1011                  6                   4
34                        1010                  6                   4
35                        1010                  4                   3
36                        1011                  6                   3
37                        1013                  7                   4
38                        1012                  5                   4
39                        1012                  4                   2
40                        1013                  4                   3
41                        1014                  5                   4
42                        1013                  6                   3
43                        1012                  6                   4
44                        1010                  4                   4
45                        1011                  6                   4
46                        1010                  6                   5
47                        1010                  6                   5
48                        1011                  6                   5
49                        1013                  5                   5
50                        1012                  4                   3
51                        1012                  6                   5
52                        1012                  4                   3
53                        1011                  6                   3
54                        1012                  5                   3
55                        1009                  4                   3
56                        1009                  4                   3
57                        1008                  3                   3
58                        1009                  5                   4
59                        1009                  5                   4
                           ...                ...                 ...

     Min VisibilitykM   Max Wind SpeedKm/h   Mean Wind SpeedKm/h  \
0                   4                   23                    11
1                   3                   21                    10
2                   3                   16                     6
3                   3                   13                     5
4                   2                   11                     5
5                   1                   19                     5
6                   1                   13                     5
7                   2                   14                     6
8                   1                   14                     5
9                   1                   21                     6
10                  3                   13                     6
11                  3                   19                     6
12                  1                   16                     5
13                  2                   21                     5
14                  1                   14                     5
15                  1                   19                     5
16                  3                   19                     5
17                  2                   26                    10
18                  1                   21                     6
19                  1                   19                    11
20                  1                   14                     5
21                  1                   19                     3
22                  1                   21                     5
23                  2                   14                     3
24                  2                   14                     3
25                  1                   14                     3
26                  1                   19                     5
27                  3                   19                     8
28                  3                   19                     8

In [76]:
data = pd.read_csv(filename)

In [77]:
data

          IST  Max TemperatureC  Mean TemperatureC  Min TemperatureC  \
0    2005-1-1                24                 22                21
1    2005-1-2                27                 23                19
2    2005-1-3                28                 23                19
3    2005-1-4                35                 27                19
4    2005-1-5                33                 28                24
5    2005-1-6                32                 27                23
6    2005-1-7                31                 26                22
7    2005-1-8                34                 28                22
8    2005-1-9                31                 27                23
9   2005-1-10                29                 26                22
10  2005-1-11                28                 26                23
11  2005-1-12                31                 26                22
12  2005-1-13                32                 26                21
13  2005-1-14                30                 26                22
14  2005-1-15                31                 26                22
15  2005-1-16                30                 27                23
16  2005-1-17                30                 26                21
17  2005-1-18                28                 24                19
18  2005-1-19                28                 22                16
19  2005-1-20                31                 26                20
20  2005-1-21                32                 26                21
21  2005-1-22                29                 26                22
22  2005-1-23                29                 24                19
23  2005-1-24                28                 23                19
24  2005-1-25                29                 24                21
25  2005-1-26                30                 24                18
26  2005-1-27                28                 23                19
27  2005-1-28                29                 26                23
28  2005-1-29                29                 24                21
29  2005-1-30                28                 24                21
30  2005-1-31                29                 26                23
31   2005-2-1                32                 27                22
32   2005-2-2                32                 28                24
33   2005-2-3                33                 28                23
34   2005-2-4                33                 28                24
35   2005-2-5                32                 28                24
36   2005-2-6                31                 28                25
37   2005-2-7                30                 28                25
38   2005-2-8                32                 28                25
39   2005-2-9                36                 31                26
40  2005-2-10                35                 30                25
41  2005-2-11                32                 28                24
42  2005-2-12                34                 29                24
43  2005-2-13                35                 30                25
44  2005-2-14                35                 30                25
45  2005-2-15                31                 28                25
46  2005-2-16                30                 28                26
47  2005-2-17                29                 27                26
48  2005-2-18                29                 27                24
49  2005-2-19                28                 26                23
50  2005-2-20                27                 23                20
51  2005-2-21                30                 23                17
52  2005-2-22                30                 26                22
53  2005-2-23                31                 23                15
54  2005-2-24                32                 26                20
55  2005-2-25                33                 27                22
56  2005-2-26                39                 31                24
57  2005-2-27                35                 29                24
58  2005-2-28                30                 28                25
59   2005-3-1                31                 27                23
          ...               ...                ...               ...

    Dew PointC  MeanDew PointC  Min DewpointC  Max Humidity   Mean Humidity  \
0           18              14             12            73              59
1           16              13              9            69              55
2           17              14             11            73              56
3           21              16             11            70              55
4           22              19             15            78              62
5           22              19             15            83              63
6           18              14             10            69              53
7           19              17             12            73              57
8           20              18             15            83              61
9           19              14              9            73              54
10          18              16             13            69              57
11          18              16             14            69              54
12          18              15             12            73              53
13          19              16             13            73              55
14          21              17             13            78              63
15          22              17             14            94              65
16          16              12              8            69              48
17          10               6              3            49              35
18          13               7              2            57              42
19          16               8              3            64              37
20          16              13             10            64              47
21          17              13             10            73              52
22          17              13              9            69              53
23          17              13              7            73              57
24          18              14              9            78              59
25          16              14             12            83              61
26          19              15             11            73              57
27          18              15             12            73              54
28          15              12              9            56              44
29          14              13             11            64              50
30          19              16             12            69              58
31          19              16             12            69              54
32          16              12              9            61              42
33          16              13             11            65              44
34          17              13              9            54              40
35          20              15             12            65              48
36          22              20             17            78              65
37          21              18             15            74              60
38          23              19             16            79              60
39          23              21             15            83              60
40          18              15              9            57              44
41          20              16             13            65              50
42          18              16             11            69              50
43          17              12              7            50              33
44          15              12              8            47              34
45          19              17             14            65              53
46          20              17             14            65              55
47          19              14             12            61              47
48          16              12              8            54              43
49          17               8              4            51              35
50           7               3             -2            34              26
51           7               5              1            46              30
52          22              12              5            78              45
53          17              13              6            83              53
54          21              18             15            88              65
55          21              17             12            88              56
56          22              16             10            83              46
57          24              21             14            79              63
58          23              20             17            83              66
59          24              21             14            89              73
           ...             ...            ...           ...             ...

     Min Humidity   Max Sea Level PressurehPa   Mean Sea Level PressurehPa  \
0              47                        1017                         1015
1              32                        1016                         1014
2              37                        1016                         1013
3              39                        1016                         1014
4              40                        1016                         1014
5              40                        1016                         1014
6              27                        1016                         1014
7              30                        1015                         1013
8              38                        1015                         1013
9              29                        1014                         1012
10             45                        1015                         1013
11             38                        1016                         1014
12             31                        1015                         1013
13             40                        1014                         1012
14             33                        1013                         1011
15             45                        1014                         1012
16             25                        1015                         1012
17             20                        1017                         1014
18             20                        1017                         1014
19             22                        1017                         1014
20             27                        1017                         1015
21             30                        1016                         1014
22             30                        1015                         1013
23             32                        1015                         1013
24             36                        1013                         1011
25             33                        1013                         1011
26             39                        1012                         1010
27             37                        1013                         1011
28             29                        1013                         1010
29             37                        1013                         1011
30             40                        1015                         1013
31             29                        1017                         1015
32             27                        1016                         1014
33             29                        1016                         1013
34             27                        1015                         1012
35             33                        1014                         1012
36             43                        1015                         1013
37             40                        1017                         1015
38             43                        1016                         1014
39             28                        1017                         1015
40             20                        1018                         1015
41             35                        1018                         1016
42             26                        1018                         1016
43             19                        1016                         1014
44             23                        1014                         1012
45             37                        1014                         1012
46             37                        1013                         1012
47             35                        1014                         1012
48             30                        1016                         1013
49             25                        1017                         1015
50             15                        1016                         1014
51             20                        1015                         1013
52             23                        1017                         1014
53             22                        1015                         1013
54             40                        1015                         1013
55             29                        1014                         1012
56             18                        1015                         1012
57             28                        1012                         1010
58             48                        1012                         1011
59             38                        1014                         1011
              ...                         ...                          ...

     Min Sea Level PressurehPa   Max VisibilityKm   Mean VisibilityKm  \
0                         1013                  5                   5
1                         1011                  6                   5
2                         1011                  4                   4
3                         1012                  4                   4
4                         1012                  4                   3
5                         1012                  5                   3
6                         1012                  6                   4
7                         1012                  4                   3
8                         1011                  4                   3
9                         1011                  7                   4
10                        1011                  6                   4
11                        1012                  5                   4
12                        1011                  5                   3
13                        1009                  5                   3
14                        1009                  3                   3
15                        1011                  3                   2
16                        1011                  5                   4
17                        1013                  5                   4
18                        1012                  5                   3
19                        1012                  4                   3
20                        1013                  4                   2
21                        1012                  5                   3
22                        1011                  6                   3
23                        1010                  4                   3
24                        1010                  4                   3
25                        1008                  3                   2
26                        1008                  4                   3
27                        1009                  5                   4
28                        1008                  6                   4
29                        1009                  5                   3
30                        1012                  5                   4
31                        1013                  6                   4
32                        1013                  6                   4
33                        1011                  6                   4
34                        1010                  6                   4
35                        1010                  4                   3
36                        1011                  6                   3
37                        1013                  7                   4
38                        1012                  5                   4
39                        1012                  4                   2
40                        1013                  4                   3
41                        1014                  5                   4
42                        1013                  6                   3
43                        1012                  6                   4
44                        1010                  4                   4
45                        1011                  6                   4
46                        1010                  6                   5
47                        1010                  6                   5
48                        1011                  6                   5
49                        1013                  5                   5
50                        1012                  4                   3
51                        1012                  6                   5
52                        1012                  4                   3
53                        1011                  6                   3
54                        1012                  5                   3
55                        1009                  4                   3
56                        1009                  4                   3
57                        1008                  3                   3
58                        1009                  5                   4
59                        1009                  5                   4
                           ...                ...                 ...

     Min VisibilitykM   Max Wind SpeedKm/h   Mean Wind SpeedKm/h  \
0                   4                   23                    11
1                   3                   21                    10
2                   3                   16                     6
3                   3                   13                     5
4                   2                   11                     5
5                   1                   19                     5
6                   1                   13                     5
7                   2                   14                     6
8                   1                   14                     5
9                   1                   21                     6
10                  3                   13                     6
11                  3                   19                     6
12                  1                   16                     5
13                  2                   21                     5
14                  1                   14                     5
15                  1                   19                     5
16                  3                   19                     5
17                  2                   26                    10
18                  1                   21                     6
19                  1                   19                    11
20                  1                   14                     5
21                  1                   19                     3
22                  1                   21                     5
23                  2                   14                     3
24                  2                   14                     3
25                  1                   14                     3
26                  1                   19                     5
27                  3                   19                     8
28                  3                   19                     8

In [78]:
data.columns[2]

'Mean TemperatureC'

In [79]:
meanTempDay = data[data.columns[2]]

In [80]:
meanTempDay

0     22
1     23
2     23
3     27
4     28
5     27
6     26
7     28
8     27
9     26
10    26
11    26
12    26
13    26
14    26
...
350    26
351    25
352    24
353    23
354    22
355    22
356    22
357    24
358    26
359    26
360    24
361    26
362    24
363    23
364    24
Name: Mean TemperatureC, Length: 365, dtype: int64

In [81]:
meanTempDay[:]

0     22
1     23
2     23
3     27
4     28
5     27
6     26
7     28
8     27
9     26
10    26
11    26
12    26
13    26
14    26
...
350    26
351    25
352    24
353    23
354    22
355    22
356    22
357    24
358    26
359    26
360    24
361    26
362    24
363    23
364    24
Name: Mean TemperatureC, Length: 365, dtype: int64

In [60]:
meanTempDay[1:15]

1      3.3
2      1.7
3     -4.7
4      0.0
5      5.6
6      5.3
7     -1.1
8     -9.8
9    -11.4
10    -5.8
11     0.8
12     1.4
13     2.2
14    -1.9
Name: Mean Temp (ﾰC), dtype: float64

In [82]:
meanTempDay.mean()

27.728767123287671

In [83]:
import numpy as np

In [84]:
l = []

In [85]:
for i in xrange(24):
    l.append( (meanTempDay[15*i:15*i+15].mean() ) )

In [86]:
l

[25.800000000000001,
 24.600000000000001,
 28.466666666666665,
 26.600000000000001,
 26.800000000000001,
 28.399999999999999,
 29.533333333333335,
 29.0,
 28.600000000000001,
 29.800000000000001,
 31.399999999999999,
 28.466666666666665,
 28.199999999999999,
 27.933333333333334,
 27.066666666666666,
 27.333333333333332,
 27.600000000000001,
 27.133333333333333,
 28.333333333333332,
 28.466666666666665,
 27.600000000000001,
 27.266666666666666,
 27.399999999999999,
 24.866666666666667]

In [87]:
fifteenDaysMean = pd.DataFrame(l)

In [88]:
fifteenDaysMean

            0
0   25.800000
1   24.600000
2   28.466667
3   26.600000
4   26.800000
5   28.400000
6   29.533333
7   29.000000
8   28.600000
9   29.800000
10  31.400000
11  28.466667
12  28.200000
13  27.933333
14  27.066667
15  27.333333
16  27.600000
17  27.133333
18  28.333333
19  28.466667
20  27.600000
21  27.266667
22  27.400000
23  24.866667

[24 rows x 1 columns]

In [103]:
import matplotlib.pyplot as plt
x = np.linspace(0,23,24)
y = np.array(l)

In [113]:
plt.plot(x, y, 'ro', ms= 5)
plt.xlabel('15 days mean')
plt.ylabel('temperature')
plt.title(filename)

In [114]:
meanTempDay.mean()

27.728767123287671

In [115]:
from scipy.interpolate import UnivariateSpline
spl = UnivariateSpline(x, y)
xs = np.linspace(0, 23, 1000)
plt.plot(xs, spl(xs), 'g', lw=3)




plt.text(1, meanTempDay.max()-0.5,'mu = '+ str( round(meanTempDay.mean(),2) ), horizontalalignment='left',
     verticalalignment='center')
plt.text(1, meanTempDay.max()-1,'sigma = '+ str( round(meanTempDay.std(),2) ), horizontalalignment='left',
     verticalalignment='center')
plt.show()